#email-sender{
	border: 0.25em dashed #FFD700;
	background-color: #BFEFFF;
}
#cname{
	font-family: American-Typewriter, serif;
	color: #F3F315;
}
#gname{
	font-family: American-Typewriter, serif;
	color: #F3A732;
}

